.login-form-container {
  height: 100vh;
  display: flex;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  align-items: center;
  justify-content: center;
  z-index: 9;
  .ant-form-item {
    margin-bottom: 16px;
  }
}
.header-login {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1050;
  padding: 12px 24px;
}
.login-logo {
  height: 50px;
  img {
    max-height: 100%;
  }
}
.login-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  
}
.login-cell {
  position: relative;
  width: 100%;
  min-height: 1px;
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell-login-hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 &:before {
   content: " ";
   display: block;
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   background-image: linear-gradient(135deg, #1890ff 0%,#217c35 100%);
   opacity: .65;
 }
}

.login-hero-content {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}


.login-meta {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.login-cell-block {
  flex: 0 0 100%;
  width: 100%;
  padding: 24px;
  position: relative;
}
.logo-with-form {
  width: 100%;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}
.login-heading {
  font-size: 3rem;
  color: $white;
}
.login-subheading {
  font-family: $ff-accent;
  font-size: 1.5rem;
  color: $white;
}

.website-link {
  margin-top: 4rem;
  a {
    color: rgba($color: $white, $alpha: .65);
    transition: all .25s linear;
    &:hover {
      color: rgba($color: $white, $alpha: 1);
    }
  }
}

.not-user {
  margin-top: 2rem;
}

.bg-image-mobile {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 &:before {
   content: " ";
   display: block;
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   background-image: linear-gradient(135deg, #1890ff 0%,#217c35 100%);
   opacity: .65;
 }
}

@media (min-width: 768px) {
  .bg-image-mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .header-login {
    display: none;
  }
  .login-logo {
    height: 40px;
    margin-bottom: 1rem;
  }
  .cell-login-hero {
    display: none;
  }
  .cell-login-form {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .bg-image-mobile {
    width: 100%;
    height: 100%;
  }
  .logo-with-form {
    max-width: 400px;
    padding: 24px;
    background-color: rgba($color: $white, $alpha: .9)
  }
  .not-user {
    margin-top: 0;
  }
}