.mi-card-userinfo {
    .ant-card-extra {
        display: flex;
        float: none;
        margin-left: 0;
        flex: 0 0 100%;
        width: 100%;
    }
    .ant-card-head {
        background-color: $bg-gray;
        border-bottom: 0;
    }
    .card-userinfo-header {
        display: flex;
        flex: 0 0 100%;
        width: 100%;
    }
    .username {
        margin-bottom: .25rem;
    }
    .ant-avatar {
        margin-right: 12px;
    }
}

.userinfo-table {
    tr {
        td {
            padding-top: 4px;
            padding-bottom: 4px;
            &:first-child {
                padding-right: 8px;
                color: $color-heading;
            }
            &:last-child {
                padding-left: 8px;
            }
        }
    }
}



.mi-card-user-setting {
    .ant-card-body {
        padding: 0;
    }
    .tabpane-inside-gutters {
        padding: 24px;
    }
    .ant-tabs-bar {
        margin-bottom: 0;
    }
    .ant-tabs-nav .ant-tabs-tab {
        padding: 24px;
        margin-right: 0;
    }
}
