.card-statistics-deposit {
    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        li {
            + li {
                margin-top: 12px;
            }
        }
    }
    .statistics-deposit-suffix {
        font-size: 18px;
        color: $primary;
        margin-top: 12px;
    }
    .card-statistics-deposit-footer {
        border-top: 1px solid $border-color;
        margin: 0 -24px;
    }
    .card-statistics-deposit-footer-block {
        padding: 24px 24px 0;
    }
    .statistics-label {
        span {
            &:first-child {
                color: $color-heading;
            }
        }
    }
}

.card-statistics-accounts {
    .ant-card-head-title {
        font-size: 16px;
        padding-top: 0;
    }
    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        li {
            + li {
                margin-top: 12px;
            }
        }
    }

    .card-b-float {
        position: relative;
        background-color: $primary;
        border-radius: 5px;
        overflow: hidden;
        .card-b-float-block {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 12px;
            color: $white;
        }
        .card-b-float-block-cell {
            padding: 0 8px;
            text-align: center;
        }
        .card-b-float-title {
            color: $white;
        }
        .card-b-float-icon {
            font-size: 4.5rem;
            color: $white;
            line-height: 0;
            position: absolute;
            left: -10px;
            bottom: -10px;
            opacity: .15;
        }
        .card-b-float-title {
            margin-bottom: .25rem;
        }
    }
}


.history-filters {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-left: -8px;
    margin-right: -8px;
    li {
        padding-left: 8px;
        padding-right: 8px;
    }
    span {
        position: relative;
        display: inline-block;
        cursor: pointer;
        &:before {
            content: " ";
            display: block;
            width: 0;
            height: 1px;
            background-color: $primary;
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
            opacity: 0;
            transition: all .25s linear;
        }
        &:hover {
            color: $primary;
        }
    }
    .active {
        span {
            color: $primary;
            &:before {
                opacity: 1;
                width: 100%;
            }
        }
    }
}

.transaction-lists {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    li {
        + li {
            margin-top: 12px;
        }
    }
    .transaction-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $bg-gray-light;
        padding: 12px 16px;
        border-radius: 4px;
        span {
            &:first-child {
                color: $color-heading;
            }
        }
    }
}