.mi-card {
    border-radius: 8px;
    .ant-card-head-title {
        font-weight: 300;
        color: #858997;
    }
    .ant-card-head {
        border-radius: 6px 6px 0 0;
    }
}
.mi-card-header-borderless {
    .ant-card-head {
        border-bottom: 0;
    }  
}
.mi-card-boxshadow {
    box-shadow: 0 10px 30px rgba($color: #d1d5df, $alpha: 0.5);
    .ant-card-head {
        box-shadow: 0 10px 10px rgba($color: #d1d5df, $alpha: 0.17);
    }
}

.card-filled-table {
    .ant-card-body {
        padding: 0;
    }
    .ant-table-pagination {
        margin-right: 16px;
    }
}