#content {
    min-height: 70vh;
}
svg, canvas {
    max-width: 100%;
}
.modebar-container {
    opacity: 0;
    visibility: hidden;
    display: none !important;
}

.button-iocn-foo-fixed-xl {
    position: fixed;
    right: 20px;
    bottom: 20px;
    .ant-btn-circle.ant-btn-lg {
        width: 60px;
        max-width: 60px;
        height: 60px;
        font-size: 24px;
    }
}