.mi-header {
    background-color: darken($color: $bg-sidebar, $amount: 1%);   
}
.header-block {
    display: flex;
    align-items: center;
    padding: 0 0 0 24px;
}
.header-trigger {
    height: 64px;
    padding: 0;
    font-size: 20px;
    color: rgba($color: $white, $alpha: .5);
    transition: all .3s,padding 0s;
}


.nav-actions {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;

    li {
        .d-dropdown-link {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    > li {
        .d-dropdown-link {
            color: rgba($color: $white, $alpha: .35);
            border-left: 1px solid rgba($color: $white, $alpha: .11);
        }
    }

    .d-dropdown-link {
        display: inline-block;
        font-size: 1.25rem;     
    }

}


.notification-dropdown-menu {
    border-radius: 0;
    padding: 0;
    &:before {
        content: " ";
        display: block;
        background-color: #fff;
        height: 4px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 100%;
    }

    .dropdown-header {
        background-color: $bg-gray;
        position: relative;
        padding: 12px 24px;
        &:before {
            content: " ";
            display: block;
            background-color: $bg-gray;
            height: 4px;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 100%;
        }
    }
    .dropdown-body {
        padding-bottom: 24px;
    }
    .ant-dropdown-menu-item {
        padding: 0;  
    }
    .ant-tabs-nav {
        background: $white;
        .ant-tabs-tab {
            &:before {
                border: 0;
                border-radius: 0;
            }
        }
    }
    .ant-tabs-tab {
        margin-right: 0;
    }
    .ant-tabs-nav-wrap {
        background: $bg-gray;
        padding: 0 24px 8px;
    }
    .ant-tabs-content {
        padding: 12px 24px;
    }
}

.notification-dropdown-tab {
    .tab-content-block {
        padding: 24px 24px;
    }  
    .ant-tabs-bar {
        margin-bottom: 0;
    }
    .ant-tabs-nav .ant-tabs-tab {
        padding-left: 24px;
        padding-right: 24px;
        margin-right: 0;
    }
    .ant-list-item {
        padding-left: 16px;
        padding-right: 16px;
    } 
}
.notification-dropdown-tab-heading {
    padding: 24px 24px 12px;
    h5 {
        margin-bottom: 0;
    }
}
.dropdown-menuuser {
    padding-top: 0;
}
.usermenu-header {
    display: flex;
    background-color: $bg-gray;
    padding: 12px;
    .ant-avatar {
        margin-right: 12px;
    }
    h6 {
        margin-bottom: 0;
    }
}