.new-task-drawer {
    .ant-form-item-label {
        line-height: 1;
    }
}

.card-statistics {
    .ant-card-body {
        padding: 12px;
    }
    .card-statistics-block {
        display: flex;
        align-items: center;
    }
    .card-statistics-icon {
        background-color: $bg-gray;
        color: $primary;
        border-radius: 4px;
        padding: 12px 16px;
        font-size: 1.5rem;
        margin-right: 16px;
    }
    .statistics-number {
        margin-bottom: 0;
    }
}