.button-actions {
    list-style: none;
    padding-left: 0;
    margin: 0 -4px 12px;
    display: flex;
    align-items: center;

    li {
        padding-left: 4px;
        padding-right: 4px;
    }
}

.page-heading {
    font-size: 1.5rem;
}