.mi-sidebar {
    .ant-menu-inline .ant-menu-item {
        &:first-child {
            margin-top: 16px;
        }
    }
}
.navbar-logo {
    background-color: lighten($color: $bg-sidebar, $amount: 5%);
    box-shadow: -5px 10px 12px rgba($color: $black, $alpha: 0.5);
    height: 64px;
    line-height: 64px;
    padding-left: 24px;
    img {
        max-height: 32px;
    }
}