.workspace-container {
    background: #fff;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
}
.workspace-heading {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
.card-workspace {
    text-align: center;
    border-radius: 4px;
    .workspace-icon {
        font-size: 3.5rem;
    }
    h4 {
        font-size: 1.375rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }
    .like-radio {
        position: relative;
        width: 24px;
        height: 24px;
        border: 2px solid #ddd;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}